*{
    background-color: lightblue;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
header{
    justify-self: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: center;
    
    padding: 20px;

}
h1{
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a{
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: aliceblue;
    background-color: blue;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    
}

a:hover{
    background-color: aliceblue;
    color: blue;
}